<!DOCTYPE html>

<html lang="en">
    <body style="height: 100vh; border-radius: 5px;">
        <div style="text-align: justify;">
          <p style="font-weight: 300; font-size: 18px; font-family: 'Helvetica Neue', 'Helvetica', 'Serif'; width: 60%; margin: auto;">
            From: {{ name }} at {{ contact_email }}
          </p>
          <p style="font-weight: 300; font-size: 18px; font-family: 'Helvetica Neue', 'Helvetica', 'Serif'; width: 60%; margin: auto;"><i>
            {{ message }}
          </i></p>
        </div>
    </body>
</html>
