<!DOCTYPE html>

<html lang="en">
    <body style="height: 100vh; border-radius: 5px;">
        <h1 style="color:#FC6600; text-align:center; margin-bottom: 10%; padding-top: 5%; font-family: 'Helvetica Neue', 'Helvetica', 'Serif';">Thank you for your purchase!</h1>
        <div style="text-align: justify;">
          <p style="font-weight: 300; font-size: 18px; font-family: 'Helvetica Neue', 'Helvetica', 'Serif'; width: 60%; margin: auto;">Thank you so much for your order!
            Every order counts and really makes a difference to a small business like us.
            Now that you have paid for the repair, your new part will be sent to our HQ.
            Once the part arrives and is tested for quality, you will receive an email to schedule your repair.
            On the day of your repair, please deliver your device to 461 West Angus Road, San Tan Valley, AZ, 85143.
            The whole process only takes 3-5 business days!
            Any questions?
            If you would like to leave a review, you can on our <a href="shorturl.at/gCW37">Google Page.</a>
            If there is anything you would like to tell us either about the website or about our service, you can call us at 480-439-5389 or email at contact@jpthephonesurgeon.com.
            Leave a message!
            Thanks again for your business.
          </p>
        </div>
    </body>
</html>
