{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}

    <div class="forgot-form">
        <div class="card bg-light border-light">
            <div class="card-body">
                <div class="card-title">
                    <h1 class="display-4 orange-font text-center">Seems you forgot your password</h1>
                    <p class="lead">That's alright! We'll fix it in a jiffy. Just give us your email address and we'll send you an email to reset it!</p>
                    <form action="/forgotp" method="post" class="forgotpassword">
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control email" id="email" name="email"type="email">
                        </div>
                        <button class="btn orange-background orange-border text-light" type="submit">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
